@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/* ### 1. ESTILOS DESKTOP (PADRÃO) ### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded';
}


html, body {
    height: 100%;
    margin: 0;
    
    background-color: #B545DB; 
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box; 
}

.container h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.btn-voltar {
    display: inline-block;
    background-color: #FF9966;
    color: white;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
    border: none;
    box-shadow: none;
    
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: #e68900;
}


@media (max-width: 768px) {
    .container h1 {
        font-size: 32px;
    }
    .container p {
        font-size: 18px;
    }
}


@media (max-width: 576px) {
    .container h1 {
        font-size: 28px;
    }
    .container p {
        font-size: 16px;
    }
    .btn-voltar {
        padding: 10px 20px;
        font-size: 14px;
    }
}