@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded';
}

body {
    background-color: #FFF1F1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 20px;
    position: sticky;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 10px #917a96;

    padding: 14px 48px;

    max-width: 1500px;
    margin: 0 auto;
}

.logo img {
    height: 60px;
}

#nav-barra ul {
    display: flex;
    list-style: none;
    gap: 28px;
}

#nav-barra a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;

    white-space: nowrap;
}

#nav-barra a:hover {
    color: #FF9966;
}

#nav-barra li+li::before {
    content: '|';
    color: #ccc;
    margin-right: 28px;
}

#menu-mobile,
#nav-barra .menu-header {
    display: none;
}


/* Direção */
.direcao {
    background-color: #D792EE;
    padding: 48px 32px;
    margin: auto 20px;
    text-align: center;
    border-radius: 25px;
}

.direcao h2 {
    color: #9112BC;
    font-size: 32px;
    margin-bottom: 16px;
}

.direcao .subtitulo {
    color: white;
    font-size: 20px;
    margin: 0 auto 48px auto;
}

.direcao-cards {
    display: flex;
    justify-content: center;
    gap: 74px;

    background-color: #9112BC;
    padding: 40px;
    border-radius: 25px;
}

.card-perfil {
    background-color: #9112BC;
    border-radius: 25px;
    flex: 1;
    max-width: 600px;
}

.card-perfil h3 {
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

.card-perfil img {
    border-radius: 25px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 0 auto 16px auto;
}

.card-perfil .cargo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.card-perfil .email-diretor {
    font-size: 14px;
    color: white;
    text-decoration: underline;
}

/* Contato */
.contato {
    margin: 20px;
    padding: 100px 82px;
    border-radius: 25px;
    background-color: white;
}

.contato-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.info {
    flex: 1;
    max-width: 50%;
}

.info h2 {
    color: #9112BC;
    font-size: 36px;
    margin-bottom: 36px;
}

.info .info-p1,
.info .info-p2 {
    font-size: 24px;
    color: black;
}

.info-p1 {
    margin-bottom: 10px;
}

.info-p2 {
    margin-bottom: 46px;
}

.info .email-empresa strong {
    color: #9112BC;
}

.info .email-empresa a {
    color: black;
    font-weight: 500;
}

.info .email-empresa a:hover {
    color: #FF9966;
}

.redes-sociais {
    flex: 1;
    max-width: 40%;
}

.redes-sociais h3 {
    font-size: 24px;
    color: #B545DB;
    margin-bottom: 36px;
}

.icones {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.rede {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rede img {
    width: 85px;
    height: 85px;
    transition: transform 0.3s;
}

.rede:hover img {
    transform: scale(1.05);
}

.rede a {
    font-size: 14px;
    color: #D792EE;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.rede a:hover {
    color: #9112BC;
}


/* Formulário */
.formulario-contato {
    padding: 48px 0;
    margin: 20px;

    background-image: linear-gradient(rgb(145, 18, 188, 0.5), rgba(145, 18, 188, 0.5)),
        url('../assets/imagens-contato/pessoas-trabalhando.svg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 25px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 40px;

    max-width: 1500px;
    margin: 0 auto;
}

.form-img img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.form-conteudo h3 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: white;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #FF9966;
    border-radius: 8px;
    color: white;
    font-size: 12px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #FF9966;
}

.enviar-container {
    text-align: center;
}

.btn-enviar {
    background-color: #FF9966;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #FF9966;
}

/* Footer */
.footer {
    background-color: #9112BC;
    color: white;
    padding: 32px 0;
    margin: 20px;

    border-radius: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-col {
    flex: 1;
}

.logo-footer {
    margin-bottom: 20px;
}

.logo-footer-img {
    height: 60px;
}

.contato-footer strong {
    font-size: 32px;
    display: block;
    margin-bottom: 5px;
}
.contato-footer p {
    font-size: 20px;
}

#footer-redes {
    text-align: center;
}
#footer-redes strong {
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    display: inline-block;
}
.footer-icones {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer-icones img {
    width: 75px;
    height: 75px;
    transition: transform 0.3s;
}
.footer-icones img:hover {
    transform: scale(1.1);
}

#footer-nav {
    display: flex;
    justify-content: flex-end;
}
#footer-nav ul {
    list-style: none;
    text-align: right;
}
#footer-nav li {
    margin-bottom: 18px;
}
#footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#footer-nav a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}


/* TABLET */
@media (max-width: 1180px) {

    /* Barra de navegação */
    #nav-barra ul,
    #nav-barra li+li::before {
        display: none;
    }

    #menu-mobile {
        display: block;
        background: none;
        border: none;
        font-size: 46px;
        color: #9112BC;
        cursor: pointer;
    }

    #nav-barra {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #9112BC;

        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        visibility: hidden;

        display: flex;
        flex-direction: column;

        padding: 20px 24px;
        box-sizing: border-box;
    }

    #nav-barra.ativo {
        transform: translateX(0);
        visibility: visible;
    }

    #nav-barra ul {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        gap: 28px;
        align-items: flex-start;
        width: 100%;
    }

    #nav-barra a {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    #nav-barra a:hover {
        color: #FF9966;
    }

    #nav-barra .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
    }

    #nav-barra .logo-menu img {
        height: 60px;
    }

    #btn-fechar {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 48px;
        cursor: pointer;
    }

    /* Direção */
    .direcao-cards {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .card-perfil {
        width: 100%;
        max-width: 350px;
    }

    .card-perfil img {
        width: 100%;
        height: auto;
    }

    /* Contato */
    .contato {
        padding: 60px 40px;
        gap: 80px;
    }

    .contato-container {
        flex-direction: column;
        gap: 100px;
    }

    .info,
    .redes-sociais {
        max-width: 100%;
    }

    .info {
        text-align: center;
    }

    .email-empresa a {
        word-break: break-all;
    }

    .redes-sociais {
        text-align: center;
    }

    .icones {
        justify-content: center;
    }

    /* Formulário */
    .form-container {
        grid-template-columns: 1fr;
    }

    .form-img {
        display: none;
    }

    /* Footer */
    .footer {
        padding: 40px 20px 20px 20px;
        border-radius: 25px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        border-bottom: none;
        padding-bottom: 0;
    }

    .contato-footer p {
        word-break: break-all;
    }
    
    #footer-nav {
        justify-content: center;
    }
    #footer-nav ul {
        text-align: center;
    }
    
    .footer-bottom {
        padding-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
}


/* MOBILE */
@media (max-width: 576px) {

    /* Barra de navegação */
    header .container {
        padding: 8px 20px;
    }

    .logo img {
        height: 40px;
    }

    #menu-mobile {
        font-size: 32px;
    }

    /* Direção */
    .direcao {
        padding: 30px 0px;
        margin: 10px 0;
    }

    .direcao-cards {
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;

        padding: 20px;

        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        /* Firefox */
    }

    .direcao-cards::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    .card-perfil {
        width: 100%;
        min-width: 260px;
        max-width: 100%;
    }

    .direcao h2 {
        font-size: 28px;
    }

    .direcao .subtitulo {
        font-size: 20px;
    }

    .card-perfil h3 {
        font-size: 24px;
    }

    .card-perfil .cargo {
        font-size: 18px;
    }

    .card-perfil .email-diretor {
        font-size: 12px;
    }

    /* Contato */
    .contato {
        padding: 40px 20px;
        margin: 10px;
    }

    .contato-container {
        gap: 60px;
    }

    .info h2 {
        font-size: 28px;
    }

    .info .info-p1,
    .info .info-p2 {
        font-size: 18px;
    }

    .info .email-empresa {
        font-size: 14px;
    }

    .redes-sociais h3 {
        font-size: 20px;
    }

    .icones {
        gap: 15px;
    }

    .rede img {
        width: 50px;
        height: 50px;
    }

    .rede a {
        font-size: 10px;
    }

    /* Formulário */
    .form-grid {
        grid-template-columns: 1fr;
    }

    /* Footer */
    .logo-footer-img {
        height: 50px;
    }
    .contato-footer strong { 
        font-size: 20px; 
    }
    
    .footer-icones img {
        width: 40px;
        height: 40px;
    }
    
    #footer-nav a { 
        font-size: 18px; 
    }
    
    .footer-bottom {
        font-size: 12px;
    }
}