@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Unbounded:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Unbounded', sans-serif;
    background-color: #FFF1F1;
}
h1{
    font-family: 'Unbounded', sans-serif;
    font-size: 36px;
}

