@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Unbounded:wght@400;700&display=swap');

.logo img{
    width: 298px;
    height: 84px;
}

.header-content,
.header-content nav {
    display: flex;
    align-items: center;
}

.header-content{
    background-color: #fff;
    box-shadow: 5px 10px 25.8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 112px;
    justify-content: space-between;
    padding: 16px 48px;
}

.header-content nav a{
    transition: all 0.8s gentle;
}

.header-content nav a::after{
    content: "|" ;
    padding: 20px;
    gap: 40px;
    font-weight: bold;
}

.header-content nav a:hover{
    color: #FF9966;

}

.header-content nav a:hover::after{
    color: #000;

}

.header-content nav a:last-child::after {
    content: none;
    padding-left: 0;
}


* {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

body {
    font-family:'Unbounded', sans-serif;
    background-color: #FFF1F1;
}
h1{
    color: #9112BC;
    font-size: 36px;
    font-family: Unbounded;
    font-weight: 700;
    word-wrap: break-word
}

a{
    text-decoration: none;
    color: inherit;
}

.button{
    display: flex;
    height: 56px;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    border-radius: 20.167px;
    background: var(--Principal, #9112BC);
    box-shadow: 5px 10px 25px 0 rgba(0, 0, 0, 0.40);
}

