@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Unbounded:wght@400;700&display=swap');

.logo img{
    width: 256px;
    height: 80px;
}

.header-content{
    display: flex;
    align-items: center;

    background-color: #fff;
    box-shadow: 5px 10px 25.8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 112px;
    justify-content: space-between;
    padding: 16px 28px;
    gap: 56px;
    position: fixed;
    top: 0; 
    z-index: 1000;
    width: 96%;

    margin-bottom: 116px;
}

.header-content nav {
    display: flex;
    align-items: center;
}

.header-content nav a{
    font-size: 14px;
    transition: all 0.8s gentle;
}

.header-content nav a::after{
    content: "|" ;
    padding: 16px;
    font-weight: bold;
}

.header-content nav a:hover{
    color: #FF9966;

}

.header-content nav a:hover::after{
    color: #000;
}

.header-content nav a:last-child::after {
    content: none;
    padding-left: 0;
}

.btn_icon_header_hamb{
    background-color: transparent;
    border: none;
    color: #9112BC;
    cursor: pointer;
    display: none;
}

.btn_icon_header_x{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 834px){
    .btn_icon_header_hamb,
    .btn_icon_header_x{
        display: block;
    }

    .header-content nav{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #9112BC;
        color: #fff;
        height: 1000%;
        width: 50vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -300vw;
    }

    .header-content nav a::after{
        content: none;
    }
}
@keyframes showSideBar {
    from{margin-left: -100vw;}
    top{margin-left: -15vw;}
}





.preparado-container{
    background-color: #fff;
    box-shadow: 5px 10px 25.8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47px;
    padding: 62px 42px;

    margin-top: 228px;
    margin-bottom: 116px;
}

.preparado-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
}

.preparado-text h1{
    width: 110%;
    font-family:'Unbounded', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.alinhamento_h2_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.alinhamento_h2_button h2{
    font-family:'Unbounded', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.preparado-text .button{
    align-self: center;
    margin: 0;
}

.preparado-container img{
    width: 588px;
    height: 324px;
}




.historico {
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    
    margin-bottom: 116px;
}

.historico-container{
    width: 400%;
    display: flex;
    align-items: center;
    gap: 29px;
}

.historico-container h2 {
    font-family:'Unbounded', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 64px;
    text-shadow: 5px 7px 18px rgba(0,0,0,0.5);
}

.historico-container .historico-subtitulo {
    font-family:'Unbounded', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    text-shadow: 5px 7px 18px rgba(0,0,0,0.5);
}

.historico-container .historico-descricao {
    font-family:'lato';
    font: weight 600px;
    text-align: center;
    font-size: 16px;
    text-shadow: 5px 7px 18px rgba(0,0,0,0.5);
}





.quem-somos-content .quem-somos-img {
    display: block;
    width: 564px;
    height: 300px;
    border-radius: 25px;
    text-shadow: 5px 10px 25.8px rgba(0, 0, 0, 0.25);
}

.quem-somos-content .quem-somos-text img {
    display: block;
    width: 328px;
    height: 48px;
    margin-top: 136px;
}

.quem-somos-text p {
    text-align: center;
    font-size: 20px;
    width: 80%;
}

.quem-somos-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alinhamento-text {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0;
    gap: 16px;
}

.alinhamento-text p {
    margin: 0;
}

.quem-somos-text button {
    align-self: center;
    margin: 0;
}

.quem-somos-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 108px;
    padding: 0 0px;

    margin: 0 auto;
    margin-bottom: 116px;
}






* {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

body {
    font-family:'Unbounded', sans-serif;
    background-color: #FFF1F1;
    min-height: 100%;
}

h1{
    color: #9112BC;
    font-size: 32px;
    font-family: Unbounded;
    font-weight: 524;
    word-wrap: break-word
}

a{
    text-decoration: none;
    color: inherit;
}

.button{
    padding: 6px 15px;
    display: inline-block;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 8px;
    color: #ffffff;
    border-radius: 20.167px;
    background: var(--Principal, #9112BC);
    box-shadow: 5px 10px 25px 0 rgba(0, 0, 0, 0.40);
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: #D792EE;
}

.cards {
    background-color: #9112BC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 34px;
    color: #fff;
    box-shadow: 5px 10px 25px 0 rgba(0, 0, 0, 0.40);
    gap: 23px;
    border-radius: 16px;
    height: 264px;
    width: 472px;
}

.contato-content{
    display: flex;
    width: 1440px;
    padding: 48px;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background: linear-gradient(0deg, rgba(175, 38, 221, 0.40) 0%, rgba(175, 38, 221, 0.40) 100%), url(./assets/secao-contato-img.png) lightgray 50% / cover no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

