@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Unbounded:wght@400;700&display=swap');

.logo img{
    width: 298px;
    height: 84px;
}

.header-content{
    display: flex;
    align-items: center;

    background-color: #fff;
    box-shadow: 5px 10px 25.8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 112px;
    justify-content: space-between;
    padding: 16px 48px;
}

.header-content nav {
    display: flex;
    align-items: center;
}

.header-content nav a{
    transition: all 0.8s gentle;
}

.header-content nav a::after{
    content: "|" ;
    padding: 20px;
    gap: 40px;
    font-weight: bold;
}

.header-content nav a:hover{
    color: #FF9966;

}

.header-content nav a:hover::after{
    color: #000;

}

.header-content nav a:last-child::after {
    content: none;
    padding-left: 0;
}

.btn_icon_header_hamb{
    background-color: transparent;
    border: none;
    color: #9112BC;
    cursor: pointer;
    display: none;
}

.btn_icon_header_x{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 834px){
    .btn_icon_header_hamb,
    .btn_icon_header_x{
        display: block;
    }

    .header-content nav{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #9112BC;
        color: #fff;
        height: 100%;
        width: 50vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -308vw;
    }

    .header-content nav a::after{
        content: none;
    }
}
@keyframes showSideBar {
    from{margin-left: -100vw;}
    top{margin-left: -15vw;}
}


.preparado-container{
    background-color: #fff;
    box-shadow: 5px 10px 25.8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47px;
    padding: 62px 42px;
}

.preparado-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
}

.preparado-text .button{
    display: flex;
    align-self: center;
}


* {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

body {
    font-family:'Unbounded', sans-serif;
    background-color: #FFF1F1;
}
h1{
    color: #9112BC;
    font-size: 36px;
    font-family: Unbounded;
    font-weight: 524;
    word-wrap: break-word
}

a{
    text-decoration: none;
    color: inherit;
}

.button{
    padding: 6px 15px;
    display: inline-block;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 8px;
    color: #ffffff;
    border-radius: 20.167px;
    background: var(--Principal, #9112BC);
    box-shadow: 5px 10px 25px 0 rgba(0, 0, 0, 0.40);
    cursor: pointer;

    transition: background-color 0.3s ease;
    margin-left: 108px;
}

.button:hover{
    background-color: #D792EE;
}
