@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded';
}

body {
    background-color: #FFF1F1;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 20px;

    position: sticky;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 10px #917a96;

    padding: 14px 48px;

    max-width: 1500px;
    margin: 0 auto;
}

.logo img {
    height: 60px;
}

#nav-barra ul {
    display: flex;
    list-style: none;
    gap: 28px;
}

#nav-barra a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;

    white-space: nowrap;
}

#nav-barra a:hover {
    color: #FF9966;
}

#nav-barra .menu-header {
    display: none;
}

#nav-barra li + li::before {
    content: '|';
    color: #ccc;

    margin-right: 28px;
}

#menu-mobile {
    display: none;
}

@media (max-width: 1440px) {
    #nav-barra li + li::before {
        display: none;
    }
    
    #menu-mobile {
        display: block;
        background: none;
        border: none;
        font-size: 46px;
        color: #9112BC;
        cursor: pointer;
    }
    
    #nav-barra {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #9112BC;

        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        visibility: hidden;

        display: flex;
        flex-direction: column;

        padding: 20px 24px;
        box-sizing: border-box;
    }

    #nav-barra.ativo {
        transform: translateX(0);
        visibility: visible;
    }

    #nav-barra .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
    }

    #nav-barra .logo-menu img {
        height: 60px;
    }

    #btn-fechar {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 48px;
        cursor: pointer;
    }

    #nav-barra ul {
        flex-direction: column;
        padding-top: 0;
        gap: 28px;
        align-items: flex-start;
        width: 100%;
    }

    #nav-barra a {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    #nav-barra a:hover {
        color: #FF9966;
    }

    /*Nossa Direção*/
    .direcao-cards {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

/*Nossa Direção*/
.direcao {
    background-color: #D792EE;
    padding: 38px 0;
    text-align: center;
}

.direcao h2 {
    color: #9112BC;
    font-size: 32px;
    margin-bottom: 16px;
}

.direcao .subtitulo {
    color: white;
    font-size: 20px;
    margin: 0 auto 48px auto;
}

.direcao-cards {
    display: flex;
    justify-content: center;
    gap: 74px;

    background-color: #9112BC;
    padding: 40px;
    border-radius: 25px;
}

.card-perfil {
    background-color: #9112BC;
    border-radius: 25px;
    flex: 1;
    max-width: 600px;
}

.card-perfil img {
    border-radius: 25px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 0 auto 16px auto;
}

.card-perfil h3 {
    color: white;
    font-size: 32px;
    margin-bottom:16px;
}

.card-perfil span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.card-perfil p {
    font-size: 14px;
    color: white;
}